<% provide(:title, t(".home")) %>
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<!-- banner-bottom -->
  <div class="banner-bottom">
    <div class="container">
      <div class="w3_agile_banner_bottom_grid">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="item">
                <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                  <a class="hvr-shutter-out-horizontal">
                    <%= link_to post_path(post), class: "hvr-shutter-out-horizontal" do %>
                      <%= image_tag(post.image, class: "img-home") %>
                    <% end %>
                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                  </a>
                  <div class="mid-1 agileits_w3layouts_mid_1_home">
                    <div class="w3l-movie-text">
                      <h6><%= link_to post.title, post_path(post) %></h6>
                    </div>
                    <div class="mid-2 agile_mid_2_home">
                      <%= post.year %>
                      <%= t(".view") %><%= post.view %>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="ribben">
                    <p>NEW</p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<!-- general -->
  <div class="general">
    <h4 class="latest-text w3_latest_text"><%= t(".top_movies") %></h4>
    <div class="container">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#new" id="new-tab" role="tab" data-toggle="tab" aria-controls="new" aria-expanded="true"><%= t(".new_movie") %></a></li>
          <li role="presentation"><a href="#view" role="tab" id="view-tab" data-toggle="tab" aria-controls="view" aria-expanded="false"><%= t(".top_viewed") %></a></li>
          <li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true"><%= t(".top_rating") %></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <!-- Home Tab -->
          <div role="tabpanel" class="tab-pane fade active in" id="new" aria-labelledby="new-tab">
            <div class="w3_agile_featured_movies">
              <% if @posts_new.present? %>
                <% @posts_new.each do |post| %>
                  <div class="col-md-2 w3l-movie-gride-agile">
                    <%= link_to post_path(post), class: "hvr-shutter-out-horizontal" do %>
                      <%= image_tag(post.image, class: "img-home") %>
                      <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    <% end %>
                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                      <div class="w3l-movie-text">
                        <h6><%= link_to post.title, post_path(post) %></h6>
                      </div>
                      <div class="mid-2 agile_mid_2_home">
                        <%= post.year %>
                        <%= t(".view") %><%= post.view %>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <div class="clearfix"> </div>
            </div>
          </div>
          <!-- Rating Tab -->
          <div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
            <div class="w3_agile_featured_movies">
              <% if @posts_rating.present? %>
                <% @posts_rating.each do |post| %>
                  <div class="col-md-2 w3l-movie-gride-agile">
                    <%= link_to post_path(post), class: "hvr-shutter-out-horizontal" do %>
                      <%= image_tag(post.image, class: "img-home") %>
                      <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    <% end %>
                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                      <div class="w3l-movie-text">
                        <h6><%= link_to post.title, post_path(post) %></h6>
                      </div>
                      <div class="mid-2 agile_mid_2_home">
                        <%= post.year %>
                        <%= t(".view") %><%= post.view %>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <div class="clearfix"> </div>
            </div>
          </div>
          <!--  -->
          <div role="tabpanel" class="tab-pane fade" id="view" aria-labelledby="view-tab">
            <div class="w3_agile_featured_movies">
              <% if @posts_view.present? %>
                <% @posts_view.each do |post| %>
                  <div class="col-md-2 w3l-movie-gride-agile">
                    <%= link_to post_path(post), class: "hvr-shutter-out-horizontal" do %>
                      <%= image_tag(post.image, class: "img-home") %>
                      <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    <% end %>
                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                      <div class="w3l-movie-text">
                        <h6><%= link_to post.title, post_path(post) %></h6>
                      </div>
                      <div class="mid-2 agile_mid_2_home">
                        <%= post.year %>
                        <%= t(".view") %><%= post.view %>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
