<% provide(:title, "Profile") %>
<div class="col-md-4 row info-user">
  <h1>Tên của bạn: <%= @user.name %></h1>
  <li><%= link_to "Edit profile", edit_user_registration_path %></li>
</div>
<div class="row info-post-user">
  <h1>Các bài đăng của bạn:</h1>
  <div id="myTabContent" class="col-md-8 tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
      <div class="wthree-news-top-left">
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <div class="col-md-6 w3-agileits-news-left">
              <div class="col-sm-5 wthree-news-img">
                <%= link_to post_path(post) do %>
                  <%= image_tag(post.image, class: "image-post-news") %>
                <% end %>
              </div>
              <div class="col-sm-7 wthree-news-info">
                <h5><%= link_to post.title, post_path(post) %></h5>
                <p>Người đăng: <%= post.user.name %></p>
                <p><%= truncate(post.content, length: 80) %></p>
                <ul>
                  <li><i class="fa fa-clock-o" aria-hidden="true"></i><%= post.year %></li>
                  <li><i class="fa fa-eye" aria-hidden="true"></i><%= post.view %></li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
