<% provide(:title, t(".post")) %>
<div class="container">
  <div class="agileits-post-top">
    <ol class="breadcrumb">
      <li><%= link_to t("home"), root_path %></li>
      <li class="active"><%= t(".post") %></li>
    </ol>
  </div>
  <div class="post-page-agile-info">
    <div class="show-top-grids-w3lagile">
      <div class="col-md-8 post-left">
        <div class="row-1">
          <div class="col-md-4 info-post-image">
            <%= image_tag(@post.image.url, class: "image-show") if @post.image %>
          </div>
          <div class="col-md-8 info-post">
            <div class="post-info">
              <h3><%= @post.title %></h3>
              <p><%= @post.original_name %></p>
              <p>
                <span class="boder-post-info"><%= @post.year %></span>
                <span class="boder-post-info"><%= @post.time %><%= t(".min") %></span>
                <span ><%= @post.category_name %></span>
              </p>
              <p class="poster-info"><%= t(".poster") %><%= @post.user.name %></p>
              <p class="directors-info"><%= t(".directors") %><%= @post.directors %></p>
              <p class="cats-info"><%= t(".cast") %><%= @post.cast %></p>
              <p class="nation-info"><%= t(".nation") %><%= @post.nation %></p>
              <p class="view-info"><%= t(".view") %><%= @post.view %></p>
            </div>
            <ul class="control-post">
              <li><%= social_share_button_tag @post.title, url: request.original_url %></li>
              <% if current_user == @post.user %>
                <li>
                  <%= link_to post_path(@post), method: :delete,data: {confirm: t(".are_you_sure?")} do %>
                    <i class="fa fa-trash fa-4x" title="Delete Post"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_post_path(@post) do %>
                    <i class="fa fa-edit fa-4x" title="Edit Post"></i>
                  <% end %>
                </li>
              <% end%>
            </ul>
          </div>
        </div>
        <div>
        <%= rating_for @post, "rating", star: 5, disable_after_rate: true, imdb_avg: true,
        half_show: true, enable_half: true, cancel_hint: 'Cancel this vote!', target: '#hintDiv' %>
        <div id="hintDiv"></div>
        </div>
        <div class="row-2">
          <div class="menu-info-post">
            <ul class="nav nav-info-post" role="tablist">
              <li class="col-md-4 item-info-post" role="presentation" class="active">
                <a class="info-content" href="#content" id="content-tab" role="tab" data-toggle="tab" aria-controls="content" aria-expanded="true"><%= t(".content") %></a>
              </li>
              <li class="col-md-4 item-info-post" role="presentation">
                <a class="info-trailer" href="#trailer" role="tab" id="trailer-tab" data-toggle="tab" aria-controls="trailer" aria-expanded="false"><%= t(".trailer") %></a>
              </li>
              <li class="col-md-4 item-info-post" role="presentation">
                <a class="info-ingredient" href="#info" id="info-tab" role="tab" data-toggle="tab" aria-controls="info" aria-expanded="true"><%= t(".component") %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="content" aria-labelledby="content-tab">
            <div class="info-myTab-post">
              <p class="content-post"><%= t(".content_1") %></p>
              <p><%= @post.content %></p>
              <p class="magnet-link"><%= t(".magnet_link") %></p>
              <p><%= @post.magnet_link %></p>
              <p class="subscene"><%= t(".subscene_link") %></p>
              <p><%= @post.subscene %></p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="trailer" aria-labelledby="trailer-tab">
            <div class="info-myTab-post">
              <iframe class="playTrailer" src="https://www.youtube.com/embed/<%= @post.link_trailer %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="info" aria-labelledby="info-tab">
            <div class="info-myTab-post">
              <p class="directors-post"><%= t(".directors_1") %></p>
              <p><%= @post.directors %></p>
              <p class="cats-post"><%= t(".cast_1") %></p>
              <p><%= @post.cast %></p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
            <div class="row-6">
              <div class="info-ingredient-post">
                <p class="comment-post"><%= t(".comment") %></p>
                <div id="comments">
                <% if user_signed_in? %>
                  <%= render 'comments/form' %>
                <% end %>
                </div>
              </div>
              <div class="comments"><%= render 'comments/list_comment' %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 single-right">
        <h3><%= t(".up_next") %></h3>
        <div class="single-grid-right">
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                  <img class="img-post-new"><%= link_to image_tag(post.image, class: "image-up-next"), post_path(post) %>
                </div>
                <div class="col-md-8 single-right-grid-right">
                  <a class="title"><%= link_to post.title, post_path(post) %></a>
                  <p class="au-name"><%= post.original_name %></p>
                  <p class="poster"><a><%= post.user.name %></a></p>
                  <p class="views"><%= post.view %> views</p>
                </div>
                <div class="clearfix"> </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
