<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t(".changed_email ") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t(".changed_email") %> <%= @resource.email %>.</p>
<% end %>
