<p><%= t(".hello") %><%= @resource.email %>!</p>

<p><%= t(".change_password_info_1") %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".change_password_info_2") %></p>
<p><%= t(".change_password_info_3") %></p>
