<p><%= t(".hello") %><%= @resource.email %>!</p>

<p><%= t(".unlock_account_info_1") %></p>

<p><%= t(".unlock_account_info_2") %></p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
