<!-- header -->
  <div class="header">
    <div class="container">
      <div class="w3layouts_logo">
        <a href="/"><h1>One<span>Movies</span></h1></a>
      </div>
      <div class="w3_search">
        <form action="#" method="post">
          <input type="text" name="Search" placeholder="Search" required="">
          <input type="submit" value="Go">
        </form>
      </div>
      <div class="w3l_sign_in_register">
        <ul>
          <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
          <!-- li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li -->
          <% if user_signed_in? %>
            <li><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
<!-- //header -->
<!-- bootstrap-pop-up -->
  <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          Sign In & Sign Up
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <section>
          <div class="modal-body">
            <div class="w3_login_module">
              <div class="module form-module">
                <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Click Me</div>
                </div>
                <div class="form">
                <h3>Login to your account</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Username" required="">
                  <input type="password" name="Password" placeholder="Password" required="">
                  <input type="submit" value="Login">
                </form>
                </div>
                <div class="form">
                <h3>Create an account</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Username" required="">
                  <input type="password" name="Password" placeholder="Password" required="">
                  <input type="email" name="Email" placeholder="Email Address" required="">
                  <input type="text" name="Phone" placeholder="Phone Number" required="">
                  <input type="submit" value="Register">
                </form>
                </div>
                <div class="cta"><a href="#">Forgot your password?</a></div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script>
    $('.toggle').click(function(){
      // Switches the Icon
      $(this).children('i').toggleClass('fa-pencil');
      // Switches the forms
      $('.form').animate({
      height: "toggle",
      'padding-top': 'toggle',
      'padding-bottom': 'toggle',
      opacity: "toggle"
      }, "slow");
    });
  </script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
  <div class="movies_nav">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <nav>
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", root_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <li>
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                      <% all_categories.each do |category| %>
                        <ul class="nav nav-pills nav-stacked">
                          <li><a href="#"><%= category.name %></a></li>
                        </ul><br>
                      <% end %>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                  </li>
                </ul>
              </li>
              <li><%= link_to "contact", contact_path%></li>
              <li><%= link_to "news", news_path %></li>
            </ul>
          </nav>
        </div>
      </nav>
    </div>
  </div>
<!-- //nav -->
